
*

!/.vscode/
!/.vscode/tasks.json
!/bash/
!/bash/*/
!/bash/*/*.bash
!/docker/
!/docker/*/
!/docker/*/*/
!/docker/*/*/rootfs/
!/docker/*/*/rootfs/**
!/docker/*/*/*.docker
!/docker/*/*.conf
!/docker/*/*.docker-compose
!/docker/*/*.env
!/.gitignore
!/LICENCE
