
*

!/.vscode/
!/.vscode/tasks.json
!/ansible/
!/ansible/role/
!/ansible/role/*/
!/ansible/role/*/**/
!/ansible/role/*/**/files/
!/ansible/role/*/**/files/**
!/ansible/role/*/**/templates/
!/ansible/role/*/**/templates/**
!/ansible/role/*/**/*.j2
!/ansible/role/*/**/*.yml
!/ansible/role/*/**/*.py
!/ansible/role/*/**/.ansible-lint
!/ansible/role/*/**/.yamllint
!/bash/
!/bash/*/
!/bash/*/*.bash
!/docker/
!/docker/*/
!/docker/*/*/
!/docker/*/*/rootfs/
!/docker/*/*/rootfs/**
!/docker/*/*/rootfs-build/
!/docker/*/*/rootfs-build/**
!/docker/*/*/*.docker
!/docker/*/*.conf
!/docker/*/*.docker-compose
!/docker/*/*.env
!/.gitignore
!/LICENCE
!/README.md

**/__pycache__/**
